@import "nord.scss";

/* QWidget ---------------------------------------------------------------- */

QWidget {
    background-color: $nord0;
    border: 0px solid $nord3;
    color: $nord6;
    padding: 0;
}

/* QPushButton ------------------------------------------------------------ */

QPushButton {
    background-color: none;
    border: 1px solid $nord1;
    border-radius: 0;
    padding: 5px;
}

QPushButton:hover {
    border: none;
    background-color: $nord1;
}

QPushButton:pressed {
    background-color: $nord8;
    color: $nord0;
}

/* QLineEdit ------------------------------------------------------------ */

QLineEdit {
    background-color: $nord1;
    border-radius: 0;
    border: none;
    padding: 5px;
}

QLineEdit:hover {
    background-color: $nord2;
    border: none;
}

QLineEdit:focus,
QLineEdit:selected {
    background-color: $nord3;
    border: none;
}

/* LabelButton ------------------------------------------------------------ */

LabelButton {
    background-color: none;
    border: none;
    padding: 0;
    color: $nord7;
    text-align: left;
}

LabelButton:hover {
    background-color: none;
    color: $nord8;
}

LabelButton:pressed {
    background-color: none;
    color: $nord9;
}